<input id="foo" class="form-control input-sm" type="text" value={{@model}} readonly>
<span class="input-group-btn">
  <button type="button" class="btn btn-default btn-sm" {{on "click" this.copyURL}}>
    <span class="glyphicon glyphicon-copy"></span>
    {{#if this.isCopied}}
      Copied!
    {{/if}}
  </button>
</span>
