@import "bootstrap";
@import "ember-power-select/themes/bootstrap";
@import "ember-power-select";

// header
.app-header{
  background:#eee;
  padding:40px 0 50px;
  h1{
    margin-bottom:120px;
  }
}
.show-trending{
  position:absolute;
  top:-40px;
  left:50%;
  transform:translateX(-50%);
}
.image-size{
  min-width:180px;
  margin-left:-1px;
  border-radius:0 4px 4px 0 !important;
}
.input-group{
  width:100%;
}
.input-group-btn{
  font-size:inherit;
}
.displayed-url{
  position:absolute;
  display:block;
  margin-top:5px;
  width:50%;
  left:50%;
  transform:translateX(-50%);
}


// main
main{
  padding-top:30px;
}
.masonry {
  // display: grid;
  // grid-gap: 10px;
  // grid-template-columns: repeat(auto-fill, minmax(200px,1fr));
  // grid-auto-rows: 0;
  // .col,
  // a{
  //   width:100%;
  //   max-width:100%;
  //   img{
  //     max-width:100%;
  //     height:auto;
  //   }
  // }
  // .col--2x {
  //   grid-row-end: span 2;
  // }
  // .col--3x {
  //   grid-row-end: span 3;
  // }
}
.flex-grid {
  display: flex;
  flex-wrap: wrap;
  .col{
    flex-grow: 1;
  }
}
.hidden{
  display:none !important;
}
.gif-block{
  display:block;
  overflow:hidden;
  text-align:center;
  background-color:#eee;
  &:hover{
    img{
      border-color:rgb(161, 161, 161);
      transition:border-color 0.3s ease;
    }
  }
  img{
    width:100%;
    border:solid 3px #eee;
    transition:border-color 0.3s ease;
  }
}
.loading,
.error{
  display:block;
  width:80%;
  margin:50px auto 0;
  text-align:center;
  padding:20px;
  background:rgba(#eee,0.25);
  color:#333;
  text-transform:uppercase;
  font-size:80%;
  letter-spacing:1px;
}
.error{
  color:rgb(168, 16, 16);
}
.oops{
  display:inline-block;
  padding:5px 10px;
  color:#333;
  text-transform:uppercase;
  font-size:80%;
  letter-spacing:0.05em;
}

// misc
a{
  cursor:pointer;
}
.position-relative{
  position:relative;
}
img{
  max-width:100%;
  height:auto;
}
