<header class="app-header">
  <div class="container text-center">
    <h1>Giphy Search</h1>
    <form class="inline-form text-left position-relative">
      {{#if (and @data @search)}}
        <div class="show-trending">
          <a class="btn btn-link" {{action @resetSearch}} role="button">Show Trending Gifs</a>
        </div>
      {{/if}}
      <div class="input-group">
        <Input @value={{@search}} @focusIn={{action @focusSearch}} @type="text" @name="search" class="form-control" @id="search" placeholder="Search" />
        {{#if (and @data @search)}}
          <PowerSelect @options={{@imageSizes}} @selected={{find-by @imageSizes "value" @selectedSize}} @searchEnabled={{false}} @searchField="label" @placeholder="Please select size" @triggerClass="image-size input-group-btn" @onChange={{action (mut @selectedSize) value="value"}} as |item|>
            {{item.label}}
          </PowerSelect>
        {{/if}}
      </div>
      {{#if @displayedURL}}
        <div class="displayed-url">
          <ClickToCopy @model={{@displayedURL}} />
        </div>
      {{/if}}
    </form>
  </div>
</header>
