{{! template-lint-disable no-inline-styles }}
{{!-- style={{html-safe (concat this.widthStyle ";" this.heightStyle)}} --}}
<a class="gif-block flexmasonry-item" {{on "click" (fn @displayURL @model.url)}} role="button">
  {{#if this.src}}
    <img src={{this.src}} alt={{@model.title}}>
  {{else}}
    <span class="oops">Oops!</span>
  {{/if}}
</a>
