<GifContainer
  @query={{this.search}}
  as |data|
>
  <GifHeader
    @resetSearch={{this.resetSearch}}
    @focusSearch={{this.focusSearch}}
    @data={{data.data}}
    @search={{this.search}}
    @imageSizes={{this.imageSizes}}
    @selectedSize={{this.selectedSize}}
    @displayedURL={{this.displayedURL}}
  />

  <main>
    <div class="max-container">
      {{#if data.isLoading}}
        <div class="loading">
          loading...
        </div>
      {{else if data.isError}}
        <div class="error">
          Whoa! It looks like something went wrong, try again.
        </div>
      {{else}}
        <div class="grid" {{did-insert this.triggerFlexGrid}}>
          {{#each data.data as |item|}}
            <GifBlock
              @model={{item}}
              @imageSize={{this.selectedSize}}
              @displayURL={{this.displayURL}}
            />
          {{/each}}
        </div>
      {{/if}}
    </div>
  </main>
</GifContainer>
